/*
TO DO
set up dynamic color variables
*/
:root {
  --fontFamily-body: "Caslon Doric", Helvetica, sans-serif;
  --fontFamily-bold: "Caslon Doric Condensed Bold", Helvetica, sans-serif;

  --color-accent-hsl: hsl(0, 100%, 50%);
  --color-accent-hsl-inverse: hsl(180, 100%, 50%);
}

@font-face {
  font-family: "Caslon Doric";
  src: url("fonts/CaslonDoric-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("fonts/CaslonDoric-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("fonts/CaslonDoric-Semibold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("fonts/CaslonDoric-SemiboldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Caslon Doric Condensed";
  src: url("fonts/CaslonDoricCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: crosshair;
  color: black;
  background-color: white;
}

body {
  font-family: "Caslon Doric", sans-serif;
}

#splash {
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: white;
}

.sticky-header {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.color-accent {
  color: var(--color-accent-hsl);
}

.color-accent-bg {
  background-color: var(--color-accent-hsl);
}

.color-accent-inverse {
  color: var(--color-accent-hsl-inverse);
}