/*
TO DO
load custom fonts
*/


/* @font-face {
  font-family: "Caslon Doric";
  src: url("./fonts/CaslonDoric-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("./fonts/CaslonDoric-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("./fonts/CaslonDoric-Semibold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Caslon Doric";
  src: url("./fonts/CaslonDoric-SemiboldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Caslon Doric Condensed";
  src: url("./fonts/CaslonDoricCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --fontFamilyBody: Caslon Doric, Helvetica, sans-serif;
  --fontFamilyHeader: Caslon Doric Condensed, Helvetica, sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: crosshair;
  color: black;
  background-color: white;
}

/* body {
	font-family: "Caslon Doric", sans-serif;
} */

/* canvas {
  width: 100vw;
  height: 100vh;
} */

#splash {
	position: absolute;
	bottom: 0px;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: black;
}

.sticky-header {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}