*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: sans-serif;
}

/* .webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
} */

body { margin: 0; }
canvas { width: 100vw; height: 100vh; display: block; }